#upcoming-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 50px;

    .header {
        align-self: center;
    }
}