#today-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

#today-header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1;
    grid-column: 1;
}