@use '../../../assets/styles/colors';

#inbox-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 1fr;
  align-items: center;
  justify-items: center;
}

#inbox-info {
  font-size: 40px;
}

#empty-inbox {
  font-size: 40px;
  align-self: center;
}

#task-list {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-bottom: 15px;
  row-gap: 15px;
  width: 50vw;
}