@use '../../../assets/styles/colors';

#inbox-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  justify-items: center;
  align-items: center;
  height: 75vh;
}

#inbox-info {
  font-size: 40px;
}